/* Set node colors in graph view */
.theme-dark .graph-view.color-fill {color: green;}
.theme-dark .graph-view.color-fill-unresolved {color: red;}
.theme-dark .graph-view.color-fill-tag {color: rgb(200, 200, 200);}
.theme-light .graph-view.color-fill {color: green;}
.theme-light .graph-view.color-fill-unresolved {color: red;}
.theme-light .graph-view.color-fill-tag {color: rgb(200, 200, 200);}